<%- include('partials/head') -%>
<!-- Error Page -->
<main class="error">
    <h1>MovieTime</h1>
    <h2>Sorry, could not find the page you are looking for.</h2>
    <img src="/imgs/emoji.png" alt="emoji shrugging"  loading="lazy">
    <h4>Return back to <a href="/">MovieTime</a></h4>
</main>


