<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
  <main class="d-flex align-items-center justify-content-center"> <!-- Centering content both vertically and horizontally -->
    <div class="container">
      <h1 class="text-center">MovieTime</h1>
      <div class="d-flex justify-content-center">
          <form action="/movies/search" method="GET" class="d-flex">
              <label class="sr-only">Enter Movie Name</label>
              <input type="search" name="query" class="form-control" id="inlineFormInputName2" placeholder="Search">
              <button type="submit" class="btn btn-primary">Search</button>
          </form>
      </div>
    </div>
  </main>
</main>


<%- include('partials/footer') -%>