@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

/* --------------- MOVIE PAGE --------------- */


.movie-header{
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 600px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tagline{
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.like-button, .unlike-button {
    background-color: transparent; 
    border: none;
    padding: 0; 
    margin-right: 7px;
}

.like-button:focus, .unlike-button:focus {
    outline: none; 
}

.like-button .fa-heart {
    color: red; 
    font-size: 16px; 
}

.unlike-button .fa-heart{
    color: gray; 
    font-size: 16px; 
}

.unlike-button span:hover {
    color: orange;
}

.review-container {
    display: flex;
    align-items: center; 
  }
  
.review-container form {
    margin-right: 10px; 
}

.delete-form {
    margin-left: auto; 
}

.delete-button:hover{
    color: red;
}

/*styling star rating*/
.rating, .clearRating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: yellow;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: yellow;
}

/* Clear button styling */
.clear:before {
    content: '\2716';
    font-size: 1.5rem;
    margin: 5px;
}

.fa-star.checked {
    color: orange; 
}

.fa-star-half.checked {
    color: orange; 
}



