@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

/* --------------- HTML --------------- */

body{
    background-color: #14181C;
}

.modal-content{
    background-color: #242832;
}


h1, h2, h3, h4, h5, span, p, label {
    color: white;
}

button.btn.btn-primary, a.btn.btn-primary, label.btn-primary{
    background-color: #4A5E8D;
    border: none;
}

button.btn.btn-primary:hover, a.btn.btn-primary:hover, label.btn-primary:hover,
button.btn.btn-primary:active, a.btn.btn-primary:active, label.btn.btn-primary:active{
    background-color: #3B4760;
}
/* --------------- NAVBAR --------------- */

nav {
    background-color: #24272C;
}

nav li.nav-item a.nav-link{
    margin-right: 30px
}

.navbar-toggler{
    background-color: white;
}

.dropdown-menu{
    background-color: #4A5E8D;
}

.dropdown-item:hover{
    background-color: #3B4760;
}


/* --------------- SEARCH PAGE --------------- */

.search-results{
    margin: 0 20px;
}

h3.search{
    text-align: center;
}

h4.card-title{
    color: white;
    overflow: hidden; text-overflow: 
    ellipsis; display: -webkit-box; 
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}

h4.card-title span{
    color: #89a; 
    font-size: 16px; 
    font-weight: 400;
}

p.card-text{
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    font-size: 16px;
}

.card-body{
    background-color: #242832;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card{
    border-color: gray;
}

.search-poster{
    min-width: 94px; 
    width: 94px;
    height: 141px;
}


/* --------------- MOVIE PAGE --------------- */


/*------------ Header ------------*/

.movie-header{
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 600px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.tagline{
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}


/*------------ Body ------------*/

.movie-info span{
    font-weight:300; 
    color: #abc;
} 

p.dir-name{
    color: white;
} 


.overview, .review, .bio{
    color: #B3D6F3;
} 

/* optional color */
/*-------- Rating Section --------*/


.like-button, .unlike-button {
    background-color: transparent; 
    border: none;
    padding: 0; 
    margin-right: 7px;
}

.like-button:focus, .unlike-button:focus {
    outline: none; 
}

.like-button .fa-heart {
    color: red; 
    font-size: 16px; 
}

.unlike-button .fa-heart{
    color: gray; 
    font-size: 16px; 
}

.unlike-button span:hover {
    color: orange;
}

.review-container {
    display: flex;
    align-items: center; 
  }
  
.review-container form {
    margin-right: 10px; 
}

.delete-form {
    margin-left: auto; 
}

.delete-button:hover{
    color: red;
}

/*styling star rating*/
.rating, .clearRating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: orange;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: orange;
}

/* Clear button styling */
.clear:before {
    content: '\2716';
    font-size: 1.5rem;
    margin: 5px;
}

.fa-star.checked {
    color: orange; 
}

.fa-star-half.checked {
    color: orange; 
}

.fa-times{
    color: white;
}

/*------------ Modal ------------*/

.modal-header{
    border-bottom: 1px solid rgba(162, 177, 229, .2);
}
.modal-footer{
    border-top: 1px solid rgba(162, 177, 229, .2);
}



/* --------------- HOME PAGE --------------- */

/*----------- Header -----------*/
.movie-home {
    margin: 0 auto; 
    text-align: center;
} 

.movie-home h4{
    margin: 50px 0; 
    font-weight:100; 
    color: #abc;
} 

.movie-home h1{
    margin-bottom: 30px; 
} 

.movie-home a{
    border-bottom: 1px solid gray;
    color: white;
    text-decoration: none;
} 

.movie-header{
    background-image: linear-gradient(to bottom, rgba(14, 13, 13, 0.5),rgba(0, 0, 0, 0.7)), url('/imgs/cinema-bg.jpg');
}

/*----------- Carousel -----------*/

.carousel{
    height: 250px;
    width: 80%;
    position: relative;
    margin-top: 100px;
}

.carousel .switchLeft, .carousel .switchRight {
    color: white;
    font-weight: bold;
    height: 100%;
    width: 45px;
    font-size: 25px;
    text-align: center;
    line-height: 320px;
    top: 0;
    z-index: 3;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.carousel .switchLeft{
    position: absolute;
    left: -50px;
}

.carousel .switchRight {
    position: absolute;
    right: -50px;
}

.carouselbox, .carouselbox1{
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.carouselbox img, .carouselbox1 img{
    min-width: 150px;
    max-width: 150px;
    height: 225px;
    cursor: pointer;
    background-size: cover;
    margin: 5px 10px;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox img:hover, .carouselbox1 img:hover {
    transform: scale(1.1);
    z-index: 5;
}

.section-carousel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carousel h3{
    margin-left: 5px;
}

.carousel:last-child{
    margin-bottom: 200px;
}

/* --------------- PROFILE PAGE --------------- */
.missing-profile{
    text-align: center;
}

/* --------------- SETTINGS PAGE --------------- */

aside.favorite-films ul li{
    margin-right: 10px;
}

aside label{
    font-weight: bold;
    margin-bottom: 5px;
}

aside.favorite-films ul li button{
    height: 165px; 
    width: 110px; 
    background-color: #242832;
    border: 2px solid #30394c;
}